h1{
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    color: crimson;
    font-style: italic;
    font-display: 1;
}
*{
    padding: 1%;
    margin-top: 2%;
}